<div class="container">

      <header id="main-header">
        <!-- The only Row -->
        <div class="row no-gutters">

          <!-- The column with Image my_pic -->
          <div class="col-lg-4 col-md-5">
            <img src="../assets/portfoliogrid/my_pic_5.jpg" alt="" height="743" width="755">
          </div>

          <!-- The column with all the content -->
                  <div class="col-lg-8 col-md-7">

                    <!-- The fist sub-row with Title ... Flex column vertical-->
                    <div class="d-flex flex-column">
                      <div class="p-5 bg-dark text-white">
                        <div class="d-flex flex-row justify-content-between align-items-center">

                          <h1 class="display-4">Tomas Mali</h1>

                          <div class="d-none d-md-block">
                            <a href="https://www.linkedin.com/in/tomas-mali-777916170/" class="text-white">
                              <i class="fab fa-linkedin"></i>
                            </a>
                          </div>

                          <div>
                            <a href="https://www.facebook.com/tomas.mali.3" class="text-white">
                              <i class="fab fa-facebook"></i>
                            </a>
                          </div>

                          <div>
                            <a href="http://www.google.com" class="text-white">
                              <i class="fab fa-google-plus"></i>
                            </a>
                          </div>

                          <div class="text-white "  (click)="isCollapsed($event, 'home')" data-toggle="collapse">
                              <i class="fab fa-github"></i>
                          
                          </div>

                        </div>
                      </div>
                    </div>

                    <!-- Slogan experience-->
                    <div class="p-4 bg-black">
                      If you cannot do great things, do small things in a great way.
                      <small>
                        <i> "Napoleon Hill"</i>
                      </small>
                    </div>
                    <div>

                      <!-- HOME-RESUME-WORK-CONTACT Flex-Box-->
                      <div class="d-flex flex-row text-white align-items-stretch text-center">
                        <div class="port-item p-4 bg-primary" (click)="isCollapsed($event, 'home')" data-toggle="collapse">
                          <i class="fas fa-home fa-2x block"></i>
                          <span class="d-none d-sm-block">Home</span>
                        </div>
                        <div class="port-item p-4 bg-success" (click)="isCollapsed($event, 'resume')" data-toggle="collapse">
                          <i class="fas fa-graduation-cap fa-2x block"></i>
                          <span class="d-none d-sm-block">Resume</span>
                        </div>
                        <div class="port-item p-4 bg-warning" (click)="isCollapsed($event, 'work')" data-toggle="collapse">
                          <i class="fas fa-folder-open fa-2x block"></i>
                          <span class="d-none d-sm-block">Work</span>
                        </div>
                        <div class="port-item p-4 bg-danger" (click)="isCollapsed($event, 'contact')" data-toggle="collapse">
                          <i class="fas fa-envelope fa-2x block"></i>
                          <span class="d-none d-sm-block">Contact</span>
                        </div>
                      </div>
                    </div>


                  </div>
        </div>
          <!-- END HEADER -->
      </header>



            <!-- HOME -->
            <app-home *ngIf="isCollapsedHome">
            </app-home>


            <!-- RESUME -->
            <app-resume *ngIf="isCollapsedResume">
            </app-resume>


            <!-- WORK -->
            <app-work *ngIf="isCollapsedWork">
            </app-work>




            <!-- CONTACT -->
            <app-contact *ngIf="isCollapsedContact">
            </app-contact>



            <!-- FOOTER -->
            <footer id="main-footer" class="p-5 bg-dark text-white">
              <div class="row">
                <div class="col-md-6">
                  <a href="#" class="btn btn-outline-light">
                    <i class="fas fa-cloud"></i> Download Resume
                  </a>
                </div>
              </div>
            </footer>

</div>

<router-outlet></router-outlet>